[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

body, html {
  margin: 0;
  background-color:#00AAE7;
  text-align: center;
}

h1, ul {
  margin: 0;
  padding: 0;
}

.title {
  font-family: courier, helvetica, arial;
  color: white;
  margin: 20px auto;
  font-size: 100px;
}

form {
  margin: 20px 0;
}

.keyword-input {
  max-width: 950px;
  padding: 6px 15px;
  width: 80%;
  font-size: 24px;
  border-radius:6px;
}

.instructions {
  font-size: 20px;
  color: #fff;
  // padding-top: 50px;
}

/*tweets area*/
.results {
  max-width: 1300px;
  margin: 0 auto 30px auto;
  display: -webkit-flex; /* Safari */
  display: flex;
  -webkit-flex-wrap:        wrap; /* Safari */
  flex-wrap:                wrap;
  -webkit-justify-content: center; /* Safari */
  justify-content:         center;
}

ul {
  list-style-type: none;
}

.btn__load-more {
  margin-bottom: 30px;
}

.load-more__container {
  font-size: 40px;
  margin: 150px 0;
  color: #fff;
}

.load-more__container i {
  font-size: 60px;
}

/*tweet cards*/
.tweet-cards {
  background-color: #F4F4F4;
  width: 323px;
  height: 362px;
  margin: 10px 10px 30px 10px;
  border-radius: 2px;
  box-shadow: 3px 3px 3px #007BA8;
}

.tweet-cards .card-top {
  background-color: #007BA8;
  border-bottom: 4px solid #006E96;
  height: 30%;
  border-radius: 2px 2px 0px 0px;
}

.tweet-cards .profile-pic {
  height: 60px;
}

.tweet-cards .profile-pic img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: relative;
  margin: -52px 0 0 6px;
  border: 4px solid white;
}

/*card bottom*/
p#name {
  text-align:center;
}

p#name a {
  text-decoration: none;
  font-family: arial, helvetica;
  color: #007BA8;
  font-weight:bold;
  position: relative;
}

.tweet {
  position: relative;
  width: 260px;
  height: 102px;
  word-wrap: break-word;
  text-align: center;
  margin: auto;
  font-weight: 200;
  font-family: helvetica neue;
  font-size: 0.95em;
  color: #545454;
}

p#date {
  position: relative;
  text-align: right;
  margin: 0 25px 15px 0;
  font-family: helvetica;
  font-size: 0.8em;
  color: #919191;
}

.clear {
  float: none;
  clear: both;
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
}
