<!DOCTYPE html>

<html ng-app="tweetFinderApp">
<head>
  <meta charset="utf-8">
  <title>Tweet Finder</title>

  <!-- styles -->
  <!-- <link rel="stylesheet" type="text/css" href="public/css/application.min.css"> -->
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>

<body>
  <h1 id="title">Tweet Finder</h1>
  <div class="container" ng-controller="TweetFinderController">
    <form ng-submit="getTweets()">
      <input id="input-keyword-area" type="text" name="keyword" placeholder="Enter A Term To Search" value= " " ng-model="keywords">
    </form>
    <div class="results">
      <div ng-repeat="tweet in tweets">
        <tweet-directive></tweet-directive>
      </div>
    </div>
  </div>
  <!-- scripts -->
  <script type="text/javascript" src="assets/lib/angular/angular.min.js"></script>
  <script type="text/javascript" src="public/js/app.min.js"></script>
</body>
