<!DOCTYPE html>

<html ng-app="tweetFinderApp">
<head>
  <meta charset="utf-8">
  <title>Tweet Finder</title>

  <!-- styles -->
  <!-- <link rel="stylesheet" type="text/css" href="public/css/application.min.css"> -->
  <link rel="stylesheet" type="text/css" href="assets/css/style.css">
</head>

<body>
  <h1 id="title">Tweet Finder</h1>
  <div class="container" ng-controller="TweetFinderController">
    <form ng-submit="getTweets()">
      <input id="input-keyword-area" type="text" name="keyword" placeholder="Enter A Term To Search" value= " " ng-model="tweet.keyword">
    </form>
    <section class="results">
      <ul>
        <li class="tweet-cards" ng-repeat="tweet in tweets">
          <div class="card-top"></div>
          <div class="profile-pic">
            <img src="{{tweet.userProfileImageURL}}"/>
          </div>
           <div class="card-bottom">
            <p id="name">
              <a href="{{tweet.userProfileURL}}" target="_blank">{{tweet.userScreenName}}</a>
            </p>
            <div class="tweet">{{tweet.message}}</div>
            <p id="date">{{tweet.date}}</p>
          </div>
        </li>
      </ul>
      <div class="clear"></div>
    </section>
  </div>
  <!-- scripts -->
  <script type="text/javascript" src="assets/lib/angular/angular.min.js"></script>
  <script type="text/javascript" src="public/js/app.min.js"></script>
</body>
