body{
	background-color:#00AAE7;
}

/*top title portion*/
.container{
	width:1200px;
	height:230px;
	margin: 0px auto;
	text-align: center;
}

#title{
	font-family: courier, helvetica, arial;
	color:white;
	position:relative;
	font-size:3em;
}

.main-area #input-keyword-area{
	width: 610px;
	font-size: 26px;
	border-radius:5px;
	position:relative;
}

/*tweets area*/
.tweets-area{
	width:1200px;
	margin: auto;
}

#stream{
	list-style-type: none;
	position:relative;
}

/*tweet cards*/
#stream .tweet-cards{
	background-color: #F4F4F4;
	width:27%;
	height:362px;
	margin: 10px 30px 30px 30px;
	border-radius: 10px;
	float: left;
	box-shadow: 3px 3px 3px #007BA8;
}

.tweet-cards .card-top{
	background-color: #007BA8;
	border-bottom: 4px solid #006E96;
	height:30%;
	border-radius: 10px 10px 0px 0px;
}

.tweet-cards .profile-pic{
	height:60px;
}

.tweet-cards .profile-pic img{
	width:100px;
	height:100px;
	border-radius: 50%;
	position: relative;
	margin-top:-52px;
	left:33.3%;
	border: 5px solid white;
}


/*card bottom*/
p#name{
	text-align:center;
}

p#name a{
	text-decoration: none;
	font-family: arial, helvetica;
	color: #007BA8;
	font-weight:bold;
	position: relative;
}

.tweet{
	position:relative;
	width:260px;
	height:102px;
	word-wrap: break-word;
	text-align: center;
	margin: auto;
	font-family: helvetica;
	font-size: 0.95em;
	color: #6B6B6B;
}

p#date{
	position:relative;
	text-align:left;
	margin-left:8px;
	font-family: helvetica;
	font-size:0.8em;
	color: #6B6B6B;
}

#footer{
	height:50px;
	font-size: 16pt; 
	text-align: left; 
	padding: 15px 0px 30px 0px;}
}


