body{
	background-color:#0084B4;
}

/*top title portion*/
.container{
	width:1200px;
	height:230px;
	margin: 0px auto;
	text-align: center;
}

#title{
	color:white;
	position:relative;
	font-size:3em;
}

.main-area #input-keyword-area{
	width: 610px;
	font-size: 26px;
	border-radius:5px;
	position:relative;
}

/*tweets area*/
.tweets-area{
	width:1200px;
	height:1200px;
	margin: auto;
}

#stream{
	list-style-type: none;
	position:relative;
}

/*tweet cards*/
#stream .tweet-cards{
	background-color: white;
	width:30%;
	height:300px;
	margin-bottom:20px;
	border-radius: 10px;
	float: left;
	margin-right:13px;
	margin-left:13px;
}



p#name{
	display:inline-block;
	position:relative;
	top:-26px;
	left:10px;
}

p#date{
	position:relative;
	top:-55px;
	left:56px;
}

#profile-pic{
	display:inline-block;
	position:relative;
	left:10px;
	padding-top:10px;
	margin-bottom:-56px;
}

#tweet{
	position:relative;
	padding-bottom:10px;
	padding-left:10px;
	padding-top:-10px;
}

#footer{
	height:50px;
	font-size: 16pt; 
	text-align: left; 
	padding: 15px 0px 30px 0px;}
}


